<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ec1c129d-5607-4228-a826-5073499ebb5a" Publisher="CN=Bill" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RoseSniffingPodcasts</DisplayName>
    <PublisherDisplayName>Bill</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RoseSniffingPodcasts.App">
      <VisualElements DisplayName="RoseSniffingPodcasts" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="RoseSniffingPodcasts" ForegroundText="light" BackgroundColor="#00519a">
        <DefaultTile ShowName="allLogos" ShortName="RoseSniffingPodcasts" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#005bac" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>